.btn {
  &:focus{
    outline: none;
  }
  border: none;
  cursor: pointer;
  &__primary{
    padding: 2rem;
    width: 60%;
    letter-spacing: .5rem;
    text-transform: uppercase;
    box-shadow: 0 2px 9px rgba($color-black, 0.25);

  }
  &--green{
    background-color: $color-btn-primary;
    color: $color-black;
  }
  &--dark{
    color: $color-white;
    background-color: $color-btn-secondary;
  }
}