.notFound {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $themeD;
  &__text{
    color: $color-white;
    letter-spacing: .3rem;
    font-weight: bold;
  }
}