.err {
  &-msg{
    color: $color-warning;
    font-weight: bold;
    margin: 0 3rem;
    opacity: 0;
    animation: revealErr .5s ease-in-out forwards;
  }
  &-field{
   border-bottom: solid 3px rgba(red, 0.8) !important;
    animation: zigg .5s ease-in-out forwards;
  }
}