.link{
  color: $color-primary;
  display: inline-block;
  margin: .5rem;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
  transition: all .5s ease-in-out;
  &:hover {
    color: $color-primary-light;
    text-decoration: underline;
  }
}