.controls {
  transition: all .5s ease-in-out;
  box-shadow: 0 .6rem .6rem rgba($color-black, .5);
  @media (min-width: $mobileL-bp) {
    height: 100%;
    position: relative;
  }
  @media (min-width: $mobileL-bp) and (max-width: $tablet-bp) {
    width: 10%;
  }
  @media (min-width: $tablet-bp) {
    width: 20%;
  }
}

.controlsD {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  left: .5rem;
  z-index: 1;
  @media (min-width: $tablet-bp) {
    position: static;
    width: 100%
  }

  &__btns {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-top: 5rem;
    transition: all .5s ease-in-out;
  }

  //controls__btns
  &__logo {
    text-align: center;
    color: $color-white;
    letter-spacing: .3rem;
    font-size: 3vw;
    margin-top: 2rem;
    cursor: pointer;
  }

  // controlsD__logo
  &__btn {
    @extend %controlsD-btn;
    margin: 1rem 0;

    &--icon {
      @extend %controlsD-icon;
    }

    // controlsD__btn--icon
  }

  // controlsD__btn
  &__support {
    @extend %controlsD-btn;
    margin: 1rem 0;

    &--icon {
      @extend %controlsD-icon;
    }
  }

  //controls__support
  &__logout {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: $color-white;
    background-color: $color-btn-secondary;
    box-shadow: -.5rem 0 .3rem rgba($color-black, .5);
    border: none;
    cursor: pointer;
    margin-top: auto;
    transition: background-color .2s ease-in-out;
    &:hover{
      background-color: $color-btn-secondary-light;
    }
    span{
      display: none;
      @media (min-width: $tablet-bp){
        display: inline-block;
        flex: 1;
      }
    }
    &--icon {
      @extend %controlsD-icon;
    }
  }

  //controls__logout
  &__search {
    height: fit-content;

    button {
      width: 100%;
      margin: 1rem 0;
    }

    &--input {
      margin: 1rem 0;
      padding: .5rem;
      width: 100%;
      height: 3rem;
      background-color: rgba($color-grey, .5);
      color: $color-white;
      border: none;
      transition: all 1s ease-in-out;

      &:focus {
        outline: none;
      }
    }

    span {
      display: none;
      @media (min-width: $tablet-bp) {
        display: inline-block;
        opacity: 0;
        animation: fadeIn .5s ease-in-out forwards;
      }
    }

    &--btn {
      height: 3rem;
      border: none;
      width: 100%;
      margin: 1rem 0;
      box-shadow: $btnShadow;
      background-color: rgba($color-grey, .5);
      @media (min-width: $tablet-bp) {
        border-radius: 5rem;
        cursor: pointer;
        position: relative;
        color: $color-white;
        transition: all 1s ease-in-out;
      }


      &:hover {
        background-color: rgba($color-grey, .8);
      }

      &:focus {
        outline: none;
      }
    }

    &--icon {
      height: 2rem;
      width: 2rem;
      fill: $color-white;
      @media (min-width: $tablet-bp) {
        position: absolute;
        height: 2rem;
        width: 2rem;
        left: 20%;
        top: 15%;
        fill: $color-white;
        opacity: 0;
        animation: fadeIn .5s ease-in-out forwards;
      }
      @media (max-width: $mobileVL-bp) and (orientation: landscape) and (min-width: $mobileL-bp) {
        left: 11%;
      }
    }
  }

  //controlsD__search
}

%controlsD-btn {
  height: 3rem;
  background-color: rgba($color-white, .5);
  border-radius: 5rem 0 0 5rem;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  border: none;
  transition: all .3s ease-in-out;
  cursor: pointer;
  box-shadow: $btnShadow;
  width: 80%;
  position: relative;
  @media (max-width: $mobileVL-bp) and (orientation: landscape) and (min-width: $mobileL-bp) {
    width: 100%;
  }

  span {
    display: none;

    @media (min-width: $tablet-bp) {
      display: inline-block;
      color: $color-white;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: .2rem;
      font-size: 1.2rem;
      flex: 1;
    }
    @media (max-width: $mobileVL-bp) and (orientation: landscape) and (min-width: $mobileL-bp) {
      display: none;
    }

  }

  &:focus {
    outline: none;
    @media (max-width: $tablet-bp) and (min-width: $mobileL-bp) {
      background-color: rgba($color-white, .2);
    }
  }


}

%controlsD-icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: $color-white;
  @media (min-width: $tablet-bp) {
    margin-right: auto;
    margin-left: 1rem;
    height: 2rem;
    width: 2rem;
  }
}