.controls{
  &__add{
    background-color: $color-white;
    border-radius: 5rem;
    padding: .5rem;
    position: fixed;
    bottom: 4rem;
    right: 3rem;
    z-index: 2;
    box-shadow: $btnShadow;
    &--icon{
      height: 3rem;
      width: 3rem;
    }
  }
}