.controls{
  &__add{
    background-color: $color-white;
    border-radius: 5rem;
    padding: .5rem;
    position: fixed;
    bottom: 4rem;
    right: 3rem;
    box-shadow: 0 0 2rem rgba($color-black, .5);
    &--icon{
      height: 3rem;
      width: 3rem;
    }
  }
}