.controls{
  &__add{
    background-color: $color-white;
    border-radius: 5rem;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 4rem;
    right: 3rem;
    z-index: 2;
    box-shadow: $btnShadow;
    &--icon{
      height: 2.6rem;
      width: 2.6rem;
    }
  }
}