# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#files 
public/bundle.js
public/bundle.js.map
public/styles.css
public/styles.css.map
.idea/
config.js
existEncrypt.js
database.js
/server/data/*

# dependencies
/node_modules



# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.test
.env.development

npm-debug.log*
yarn-debug.log*
yarn-error.log*
