.login{
  animation: revealRight 1s ease-in-out forwards;
  display: inline-block;
  &__btn{
    margin-bottom: 5rem;
    border-radius: 0 5rem 5rem 0;
    transition: all .3s ease-in-out;
    @media (min-width: $mobileL-bp) {
      margin: 0;
      margin-top: 10rem;
      border-radius: 0;
      width: 100%;
      padding: 1rem;
      opacity: 0;
      &:hover{
        width: 110%;
      }
    }

    @media (min-width: $mobileL-bp) and (max-width: $tablet-bp) and (orientation: landscape){
      margin: 0;
    }
  } //login__btn
}