@keyframes errField {
  50%{
    border-bottom: 1px solid $color-warning;
    color: $color-warning;
  }
}

@keyframes errMsg {
  50%{
    color: $color-warning;
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}