@keyframes increaseWidth {
  100%{
    width: 30%;
  }
}
@keyframes decreaseWidth {
  0%{
    width: 30%;
  }
  100%{
    width: 15%;
  }
}

@keyframes revealPage {
  100%{
    opacity: 1;
  }
}

@keyframes slideRight {
  0%{
    transform: translateY(100%);
  }
}@keyframes slideLeft {
  100%{
    transform: translateY(-100%);
  }
}