@keyframes slideRightOut{
  0%{
    opacity: 1;
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
    opacity: 1;
  }
}
@keyframes slideRightIn{
  0%{
    opacity: 1;
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeftOut{
  0%{
    opacity: 1;
    transform: translateX(0);
  }
  100%{
    transform: translateX(100%);
    opacity: 1;
  }
}
@keyframes slideLeftIn{
  0%{
    opacity: 1;
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideUpOut{
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(-100%);
    display: none;
  }
}
@keyframes slideUpIn{
  0%{
    opacity: 0;
    transform: translateY(100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDownIn{
  0%{
    transform: translateY(-100%);
    opacity: 0;
    display: block;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideDownOut{
  100%{
    opacity: 0;
    transform: translateY(100%);
    display: none;
  }
}
//==============================================================
