.viewGroup {
  background-color: $color-light-grey;
  height: fit-content;
  min-height: 89vh;
  width: 100%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  transition: all .5s ease-in-out;
  @media (min-width: $mobileL-bp){
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    position: relative;
    background-color: $themeD;
  }

  &__title{
    position: absolute;
    top: 4.5rem;
    color: $color-white;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    @media (min-width: $mobileL-bp){
      position: static;
      text-align: left;
      padding: 0 2rem;
    }
  }// viewGroup__title
  &__back{
    position: absolute;
    top: 4.5rem;
    left: 1%;
    &--icon{
      height: 3rem;
      width: 3rem;
      fill: $color-white;
    }
  } // viewGroup__back
  &__edit{
    background-color: $color-white;
    border-radius: 5rem;
    position: fixed;
    bottom: 3rem;
    left: 3rem;
    box-shadow: $btnShadow;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    &--icon{
      height: 3rem;
      width: 3rem;
    }
  } // viewGroup__edit
  &__start{
    padding: 1rem 2rem;
    border: none;
    text-transform: uppercase;
    border-radius: 5rem;
    background-color: $color-white;
    box-shadow: 0 .2rem 1rem rgba($color-black, .25);
    font-weight: bold;
    letter-spacing: .1rem;
    position: absolute;
    z-index: 1;
    top: 8rem;
    left: 28%;
  } // viewGroup__start
  &__list{
    padding-bottom: 5rem;
    width: 100%;
    @media (min-width: $mobileL-bp){
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      height: 89%;
    }
  } // viewGroup__list

//  =======================================
  &__options{
    height: 3rem;
    width: 12rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    border-radius: 3rem;
    display: flex;

    &--showMore{
      @extend %viewGroupOptions;
      right: 2rem;
      top: 2rem;
      position: absolute;
    }// vieWGroup__options--showMore
    &--showLess{
      @extend %viewGroupOptions;
      transform: rotate(180deg);
      &-icon{
        opacity: 0;
        height: 2rem;
        width: 2rem;
        animation: fadeIn 1s ease-in-out forwards;
      }
    } // vieWGroup__options--showLess
    &--edit{
      @extend %viewGroupOptions;
      &-icon{
        height: 2rem;
        width: 2rem;
      }
    } // vieWGroup__options--edit
    &--startQuizz{
      @extend %viewGroupOptions;
      &-icon{
        height: 2rem;
        width: 2rem;
      }
    }// vieWGroup__options--startQuizz
  }// vieWGroup__options
} // vieWGroup

%viewGroupOptions {
  background-color: $color-white;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  box-shadow: $btnShadow;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 .5rem;
  cursor: pointer;
  &-icon{
    height: 1rem;
    width: 1rem;
    fill: $color-black;
  }
}