.shallowCardQuizzM{
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: auto;
  animation: slideUpIn .5s ease-in-out forwards;
  &__start{
    @extend %shallowCardQuizzMBtn;
    color: $color-btn-primary;
  }
  &__cancel{
    @extend %shallowCardQuizzMBtn;
    color: $color-white;
  }
  &__time{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    &--input {
      width: 20%;
      border: 1px solid $color-white;
      background: transparent;
      border-radius: .5rem 0 0 .5rem;
      padding: .3rem;
      color: $color-white;
      font-weight: bold;
      &:focus{
        outline: none;
      }
    }
    &--options{
      background-color: $color-grey;
      &:focus{
        outline: none;
      }
    }
    &--toggle{
      @extend %shallowCardQuizzMToggle;
    }
  }
  &__random{
    &--toggle{
      @extend %shallowCardQuizzMToggle;
    }
  }
}

%shallowCardQuizzMBtn {
  border: none;
  background: transparent;
  flex-basis: 100%;
  margin: 1rem 0;
  transition: all .5s ease-in-out;
  font-size: 2rem;
  letter-spacing: .3rem;
  &:active{
    background-color: $color-white;
  }
}

%shallowCardQuizzMToggle{
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  flex-basis: 50%;
}