.cardCreation{
  height: fit-content;
  &__title{
    position: relative;
    margin: 1rem 0;
    &--text{
      color: $color-white;
    }// cardCreation__title--text
    &--edit{
      position: absolute;
      top: 0;
      right: 1rem;
      height: 100%;
      cursor: pointer;
      &-icon{
        fill: $color-white;
        height: 100%;
        width: 3rem;
        opacity: 0;
        animation: fadeIn 1s .5s ease-in-out forwards;
      }// cardCreation__title--edit-icon
    }// cardCreation__title--edit
    &--input{
      width: 100%;
      height: 3rem;
      background-color: $color-light-grey;
      font-weight: bold;
      display: inline-block;
      &:focus{
        outline: none;
      }
    }// cardCreation__title--input
  } // cardCreation__title
  &__btns{
    display: flex;
    width: 100%;
    justify-content: center;
    &--cancel {
      @extend %cardCreationBtns;
      animation: slideDownIn .5s ease-in-out forwards;
      color: $color-white;
    }
    &--save{
      @extend %cardCreationBtns;
      animation: slideDownIn .5s .2s ease-in-out forwards;
      color: $color-btn-primary;
    }
  }// cardCreation__btns
  &__cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding-bottom: 10rem;
    margin-top: 2rem;
    height: 75vh;
    overflow: auto;
    align-content: flex-start;
    @media (min-width: $desktop-bp){
      padding-bottom: 10rem;
      height: 83vh;
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: $mobileL-bp) and (max-width: $tablet-bp){
      padding-bottom: 7rem;
      height: 87.5vh;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $tablet-bp) and (max-width: $desktop-bp){
      height: 90.5vh;
    }
    &--add{
      background-color: $color-white;
      box-shadow: 0 0 .3rem rgba($color-black, .7);
      border: none;
      position: fixed;
      z-index: 3;
      bottom: 2rem;
      left: 37.25%;
      width: 25%;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5rem;
      opacity: 0;
      animation: slideUpIn .5s ease-in-out forwards;
      cursor: pointer;
      &:focus{
        outline: none;
      }
      @media (min-width: $mobileL-bp){
        width: 10%;
        height: 4rem;
        left: 50%;
      }
      &-icon{
        height: 2rem;
        width: 2rem;
      }
    }
  } // cardCreation__cards
  &__container {
    padding: 0 1rem;
  }
} // cardCreation

%cardCreationBtns {
  opacity: 0;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  flex-basis: 45%;
  font-weight: bold;
  border-radius: 5rem;
  background: transparent;
  border: none;
  text-shadow: 0 .2rem .5rem rgba($color-black, .5);
  cursor: pointer;
  &:focus{
    outline: none;
  }
}