//fonts
@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore|Montserrat:400,700");

$font-primary: "Montserrat", sans-serif;
$font-secondary: 'La Belle Aurore', cursive;
// colors
$color-bg-primary: #1E5979;
$color-bg-secondary: #0C0C0C;

$color-btn-primary: #1DB954;
$color-btn-secondary: #393A3C;

$color-white: #fff;
$color-black: #000;

$color-warning: red;
$color-warning-light: lighten($color-warning, 25%);
// Spacing



// breakpoints

$desktop-bp: 1024px;
$tablet-bp: 768px;
$mobileS-bp: 320px;
$mobileM-bp: 375px;
$mobileL-bp: 480px;
$landscape-bp: 800px;

// extends

