//fonts
@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore|Montserrat:400,700");

$font-primary: "Montserrat", sans-serif;
$font-secondary: 'La Belle Aurore', cursive;
// colors
$btn-primary: #1DB954;
$color-secondary: #1DB954;
$color-primary: #5AB9EA;
$color-primary-light : lighten($color-primary, 25%);
$color-white: #fff;
$color-grey: #eee;
$color-dark-grey: #777;

$color-dark: #1A1A1D;

$color-warning: red;
$color-warning-light: lighten($color-warning, 25%);
// Spacing



// breakpoints

$desktop-bp: 1024px;
$tablet-bp: 768px;
$mobileS-bp: 320px;
$mobileM-bp: 375px;
$mobileL-bp: 480px;
$landscape-bp: 800px;

// extends

